body {
    font-family: sans-serif;
    text-align: center;
}
.text-container{
    display: flex;
    justify-content: left;
    gap: 640px;    
}
.button-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}
.library, .cafeteria{
    width: 600px;
    height: 200px;
    font-size: 40px;
    padding: 5px;
    border-radius: 30px;
    background-size: cover;
    background-position: center 45%;
    color: white;
    font-weight: bold;
}
.library{
    background-image: url('image/library.png');
}
.cafeteria{
    background-image: url('image/cafeteria.png');
}
.library:hover, .cafeteria:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.charts{
    display: flex;
    justify-content: center;
    gap: 100px;
}