body {
    font-family: 'Arial', 'Hiragino Kaku Gothic ProN', sans-serif;
    background-color: #f7c4d8;
    color: #333;

}
.facilities {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}
.facility-block {
    background-color: #f7c4d8;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}
.left-align {
    margin-left: -20px;
}
.facility-title{
    font-weight: bold;  
    margin-bottom: 20px;
    font-size: 40px; 
}
.button-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}
.library, .cafeteria{
    width: 600px;
    height: 200px;
    min-height: 150px;
    max-width: 450px;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    border-radius: 30px;
    background-size: cover;
    background-position: center 45%;
    color: rgb(247, 147, 164);
    font-weight: bold;
    display: block;
    text-decoration: none;
}
.library{
    background-image: url('/library.png');
}
.cafeteria{
    background-image: url('/cafeteria.png');
}
.library:hover, .cafeteria:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.chart-frame{
    width: 100%;
    max-width: 600px;
    height: 450px;
    margin-top: 20px;
    border: none;
    /* background-color: white; */
}

.canvas-input {
    width: 200px;
    height: 200px;
    max-width: 250px;
    max-height: 250px;
}

.canvas {
    width: 100% !important;
    height: 300px !important;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    display: block;
    background-color: #f7c1d7;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .facilities {
        flex-direction: column;
        align-items: center;
    }

    .library, .cafeteria {
        width: 90%;
        height: 150px;
        font-size: 24px;
    }

    .facility-title {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .button-container {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    .chart-frame {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
}